{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container bg-white newhood">
    <div class="row" style="background-image: url('https://cdn.pixabay.com/photo/2017/12/22/08/01/image-3033200_960_720.jpg')">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3 class="text-center">Add Your Neighbourhood Here</h3>
            <form action="" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn btn-default">Add Hood</button>
            </form><br>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>
<style>
    body{
      background-color: linen;
      
    }
  </style>

{% endblock %}